{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "prettier/prettier": [
      "warn"
    ]
  },
  "ignorePatterns": [
    "src/**/*.test.ts",
    "src/**/*.woff",
    "src/**/*.ttf",
    "src/**/*.png",
    "src/**/*.eot",
    "src/**/*.css",
    "src/**/*.scss"
  ]
}
